<main class="index">
  <style>
body {
//background-image: url('https://media.licdn.com/dms/image/D4E12AQF-fv76GP1OFw/article-cover_image-shrink_720_1280/0/1684174128376?e=2147483647&v=beta&t=M3YBcJsRl3qmkrv8Kp946Hm3bichdzx46e5ubtoWHKg');
background-image: url('https://img.freepik.com/fotos-premium/empresario-dibujar-grafico-crecimiento-progreso-negocio-analisis-financiero_34200-419.jpg');
background-size: cover; /* La imagen se ajustar치 al tama침o del cuerpo */
background-position: center; /* La imagen se centrar치 */
background-repeat: no-repeat; /* La imagen no se repetir치 */
margin: 0px; /* Elimina el margen predeterminado del cuerpo */
padding: 0px; /* Elimina el relleno predeterminado del cuerpo */
}
  </style>

  <div>
    <h1 class="mb-1 display-1  text-center" style="color: white">Bienvenidos  Website Icom</h1>
      
      <a class="btn btn-primary btn-lg " style="background:  rgb(53, 178, 182)" href="/signin">
        Iniciemos
      </a>
  </div>
</main>



<!--Area menu -->




<!-- fin menu -->

