

<div class="container p-4">
  <!--  -->

    <style>
body {
background-image: url('https://www.shutterstock.com/image-photo/big-data-technology-science-person-600nw-2256482287.jpg');
//background-image: url('/img/imagen5.png');
background-size: cover; /* La imagen se ajustará al tamaño del cuerpo */
background-position: center; /* La imagen se centrará */
background-repeat: no-repeat; /* La imagen no se repetirá */
margin: 120px; /* Elimina el margen predeterminado del cuerpo */
padding: 0px; /* Elimina el relleno predeterminado del cuerpo */
}
  </style>

  <style>
    /* Estilos para el popup */
    .popup {
        display: none;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 300px;
        padding: 20px;
        background-color: #fff;
        border: 1px solid #ccc;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        z-index: 9999;
    }
    .popup h2 {
        margin-top: 0;
    }
    .popup input[type="text"] {
        width: 100%;
        padding: 8px;
        margin-bottom: 10px;
        box-sizing: border-box;
    }
    .popup button {
        padding: 8px 20px;
        background-color: #007bff;
        color: #fff;
        border: none;
        cursor: pointer;
    }

  </style>
  <!-- -->
  <div class="row">
    <div class="col-md-4 mx-auto">
      <div class="card card-body bg-dark text-white p-5 text-center">
        <h1 class="fw-bold">Bienvenido {{user.fullname}}</h1>
        <h4>{{user.email}}</h4>
        <p>{{timeago user.created_at}}</p>
        <!--<a href="/links" class="btn btn-primary m-4">
          Ir A enlaces
        </a>-->
        <button onclick="abrirPopup()">EditarPassword</button>
      </div>
    </div>
    <!--<p class="fs-5 text-center mt-3 text-light">
        Crea un nuevo usuario
        <a href="/signup" class="text-info">
          Signup
        </a>
      </p>-->

  </div>
</div>


<div class="popup" id="popup">
    <h2>Editar Información</h2>
    <label for="Password">Password:</label>
    <input type="text" id="nombre">
    <button onclick="guardarCambios()">Guardar Cambios</button>
    <button onclick="cerrarPopup()">Cancelar</button>
</div>

<script>
    function abrirPopup() {
        var popup = document.getElementById('popup');
        popup.style.display = 'block';
    }

    function cerrarPopup() {
        var popup = document.getElementById('popup');
        popup.style.display = 'none';
    }

    function guardarCambios() {
        var nombre = document.getElementById('Password').value;

        // Aquí puedes enviar los datos a tu servidor para procesarlos
        console.log("Password:", password);
    
        cerrarPopup();
    }
</script>


  <style>

:root{
    --main-color:#fff;
  }
  
  *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  body{
    font-family:'Roboto' , 'sans-serif';
    overflow:hidden;
  }
  
  .main-header{
    background: #b9d6c0;
    width: 100%;
    height:50px;
  }
  
  nav{
    position: absolute;
    left:0;
    top:0;
    width: 200px;
    top:50px;
    height:calc(100vh - 50px);
    background:#29718d;
    transform:translateX(-100%);
    transition:.4s ease;
  }
  
  .navigation li{
    list-style:none;
    width: 100%;
    border-bottom: 1px solid rgba(255,255,255,.5);
  }
  
  .navigation a{
    color:var(--main-color);
    display: block;
    line-height:3.5;
    padding: 0 10px;
    text-decoration:none;
    transition:.4s ease;
  }
  
  .navigation a:hover{
    transform:translateX(10%);
  }
  
  #btn-nav{
    display: none;
  }
  
  #btn-nav:checked ~ nav{
    transform:translateX(0);
  }
  
  .btn-nav{
    color:var(--main-color);
    font-size:30px;
    position: absolute;
    left:0;
    top:0;
    cursor:pointer;
    padding:6.5px 15px;
    transition:.2s ease;
    background:rgba(0,0,0,.1);
  }
  
  .btn-nav:hover{
    background:rgba(0,0,0,.3);
  }

  img {
        max-width: 20px; /* Anchura máxima de la imagen */
        max-height: 20px; /* Altura máxima de la imagen */
    }
  
  </style>


    
    <input type="checkbox" id="btn-nav">
    <link rel="stylesheet" href="index.css">
    <label for="btn-nav" class="btn-nav"><i class="fas fa-bars"> Menu <a class="text-aling: righ">{{user.fullname}}</a></i></label> 
    <nav>
      <ul class="navigation">
        <li class="nav-item">
            <a class="nav-link active" href="logout">
            <i class="fas fa-home"></i> Inicio 
        </a>
        </li>
        <li class="nav-item">
        <a class="nav-link" href="/profile">
            <i class="fas fa-address-book"></i> Usuario
        </a>
        </li>
        <li class="nav-item">
        <a class="nav-link" href="/links">
            <i class="fas fa-address-book"></i> Ver Reportes
        </a>
        </li>
        <li class="nav-item">
        <a class="nav-link" href="/links/add">
            <i class="fas fa-edit"></i> Crear un Reporte
        </a>
        </li>
        <li class="nav-item">
        <a class="nav-link" href="#">
            <i class="fas fa-cube"></i> Generar Cubo
        </a>
        </li>
        <li class="nav-item">
        <a class="nav-link" href="#">
            <i class="fas fa-cog"></i> Soporte
        </a>
        </li>
        <li class="nav-item">
        <a class="nav-link" href="/signup">
            <i class="fas fa-cogs"></i> Configuracion
        </a>
        </li>

        <li><a href="/logout"class="logout">
            <i class="fas fa-sign-out-alt"></i>
            <span class="nav-item">Logout</span>
        </a></li>
        
      </ul>
    </nav>
    
    <!-- -->

    