:root{
    --main-color:#fff;
    }
    
    *{
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }
    
    body{
        font-family:'Roboto' , 'sans-serif';
        overflow:hidden;
    }
    
    .main-header{
        background: #4FB391;
        width: 100%;
        height:50px;
    }
    
    nav{
    position: absolute;
    left:0;
    top:0;
    width: 200px;
    top:50px;
    height:calc(100vh - 50px);
    background:#2D6653;
    transform:translateX(-100%);
    transition:.4s ease;
    }