<main class="index">

    <style>
    /* Main Section */
    .main{
    position: relative;
    padding: 10px;
    width: 60%;
    }
    .main-top{
    display: flex;
    width: 100%;
    }
    .main-top i{
    position: absolute;
    right: 0;
    margin: 10px 30px;
    color: rgb(110, 109, 109);
    cursor: pointer;
    }
    .main-skills{
    display: flex;d
    margin-top: 20px;
    }
    .main-skills .card{
    width: 25%;
    margin: 10px;
    background: #fff;
    text-align: center;
    border-radius: 20px;
    padding: 10px;
    box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
    }
    .main-skills .card h3{
    margin: 10px;
    text-transform: capitalize;
    }
    .main-skills .card p{
    font-size: 12px;
    }
    .main-skills .card button{
    background: orangered;
    color: #fff;
    padding: 7px 15px;
    border-radius: 10px;
    margin-top: 15px;
    cursor: pointer;
    }
    .main-skills .card button:hover{
    background: rgba(223, 70, 15, 0.856);
    }
    .main-skills .card i{
    font-size: 22px;
    padding: 10px;
    }

    </style>

    <style>
body {
//background-image: url('https://media.licdn.com/dms/image/D4E12AQF-fv76GP1OFw/article-cover_image-shrink_720_1280/0/1684174128376?e=2147483647&v=beta&t=M3YBcJsRl3qmkrv8Kp946Hm3bichdzx46e5ubtoWHKg');
background-image: url('https://media.istockphoto.com/id/1476971332/es/foto/an%C3%A1lisis-de-datos-de-negocio-concepto-de-investigaci%C3%B3n-de-mercado-hombre-de-negocios-que.webp?b=1&s=170667a&w=0&k=20&c=YLjlOG_MbEbDcdve4psSFYwHoSdJjxuP4Rf5eUjSAlU=');
background-size: cover; /* La imagen se ajustará al tamaño del cuerpo */
background-position: center; /* La imagen se centrará */
background-repeat: no-repeat; /* La imagen no se repetirá */
margin: 0px; /* Elimina el margen predeterminado del cuerpo */
padding: 0px; /* Elimina el relleno predeterminado del cuerpo */
}
    </style>

<!-- ****  paneles  ***  -->

 <div id="contenedorPagina" class="contenedor">


  <!-- Contenedores-->

 <section class="main">
        <div class="main-top">
        
        <i class="fas fa-user-cog"></i>
        </div>
        <div class="main-skills">
        <div class="card">
            <i class="fas fa-laptop-code"></i>
            <h3>Finanzas</h3>
            <p>Reportes.</p>
        <a class="btn btn-danger" href="/links/{{id}}">
            Finanzas
        </a>
        </div>
        <div class="card">
            <i class="fas fa-laptop-code"></i>
            <h3>Comercial</h3>
            <p>Reportes</p>
        <a  class="btn btn-primary btn-lg " style="background:  rgb(53, 178, 182)" href="/links/categoria/{{id}}">
            Comercial
        </a>
        </div>
        <div class="card">
            <i class="fas fa-laptop-code"></i>
            <h3>Todas</h3>
            <p>Reportes</p>
        <a  class="btn btn-primary btn-lg " style="background:  rgb(53, 178, 182)" href="/links">
            Todo
        </a>
        </div>


    
            
            </ul>


    <!-- Muestra los botones de categoría -->
{{#each categorias}}
    <button class="categoria" nomCategoria="{{this}}">{{this}}</button>
{{/each}}

<script>
    // Manejar el clic en un botón de categoría
    document.querySelectorAll('.nomCategoria').forEach(button => {
        button.addEventListener('click', function() {
            // Obtener la categoría seleccionada
            const categoriaSeleccionada = this.getAttribute('nomCategoria');

            // Redireccionar a otra página con la categoría como parámetro
            window.location.href = `/links?nomCategoria=${categoriaSeleccionada}`;
        });
    });
</script>

    
    
    
        </div>
        <!-- -->


    <!--<div>
        <a class="btn btn-primary btn-lg " style="background:  rgb(53, 178, 182)" href="/links">
            Iniciemos
        </a>
    </div>-->


<script>
    function navegarACategoria(categoria) {
        window.location.href = `/links/${categoria}`;
    }
</script>


</main>



