
<div class="container mt-5">
    <div class="row">
        <div class="col-md-6">
        <form class="card card-body bg-dark text-white p-5"  action="/signup" method="POST">
          <h3 class="text-left fw-bold mb-3">SignUp</h3>
            <label for="fullname">Escribe tu fullname:</label>
            <input type="type" name="fullname" placeholder="John Doe" class="form-control mb-3" autofocus />
    
            <label for="username">Escribe tu Email:</label>
            <input type="email" name="email" placeholder="johndoe123@" class="form-control mb-3" />
    
            <label for="username">Escribe tu TipoDoc:</label>
            <input type="type" name="tipoDoc" placeholder="DNI o CE" class="form-control mb-3" />

            <label for="username">Escribe tu NumeroDoc:</label>
            <input type="type" name="numDoc" placeholder="00000000" class="form-control mb-3" />

            <label for="username">Escribe tu CodigoCliente:</label>
            <input type="type" name="codCliente" placeholder="joh001" class="form-control mb-3" />

            <label for="username">Escribe tu codigoRole:</label>
            <input type="type" name="codRole" placeholder="johndoe123" class="form-control mb-3" />
    
    </form>
    </div>
    <div class="col-md-6">
        <form class="card card-body bg-dark text-white p-5"  action="/signup" method="POST">
          <h3 class="text-left fw-bold mb-3">SignUp</h3>
            <label for="username">Escribe tu CodigoPerfil:</label>
            <input type="type" name="codPerfil" placeholder="joh123" class="form-control mb-3" />
    
            <label for="username">Write your Estado:</label>
            <input type="type" name="estado" placeholder="Activo" class="form-control mb-3" />
    
            <label for="username">Escribe tu NombreRol:</label>
            <input type="type" name="nombreRol" placeholder="Admin o user" class="form-control mb-3" />
    
            <label for="password">Escribe tu password:</label>
            <input type="password" name="password1" placeholder="Password" class="form-control mb-3" />
    
            
            <label for="password">Confirm your password:</label>
            <input type="password" name="password2" placeholder="Password" class="form-control mb-3" />

            <button class="btn btn-success btn-block " style='width:200px; height:40px; btn-align: right; '>
                Register
            </button>

            <p class="fs-5 text-left text-white mt-6">Do you already have an account?
          <a href="/signin" class="text-info">Signin</a>
          </p>

            </div>

            
            
        </div>
    </form>

  </div>
  </div>
</div>